body {
    font-family: 'Nanum Myeongjo', serif;
    margin: 0;
}

.text-orange {
    color: orange;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}

img {
    width: 90%;
}

section {
    overflow: auto;
}

.top-banner {
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.dream-area {
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.experience {
    background: url('images/exp-bg.png') no-repeat top 150px left;
    padding-bottom: 100px;
}

.experience-header {
    margin-left: 5%;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.single-experience {
    box-shadow: 20px 10px 40px grey;
    border-radius: 10px;
    border-left: 5px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    height: 250px;
}

footer {
    margin-top: 150px;
}

footer p {
    text-align: center;
    background-color: dimgrey;
    color: white;
    padding: 10px;
    margin: 0;
}